body {
    background-color: #121212 !important;
    color: #e0e0e0;
}

.bg-white {
    background-color: #1e1e1e !important;
    color: #ffffff;
}

.card-lazaroni {
    background-color: #1a1a1a !important;
    border: 1px solid #333 !important;
}

.btn-lazaroni {
    background-color: #ffc107;
    color: #000;
    font-weight: bold;
}

    .btn-lazaroni:hover {
        background-color: #e0a800;
        color: #000;
    }

.btn-dark-lazaroni {
    background-color: #333;
    color: #ffc107;
    border: 1px solid #ffc107;
}

.badge-lazaroni {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.input-group-text, .form-control {
    background-color: #2a2a2a !important;
    border-color: #444 !important;
    color: #fff !important;
}
